/* ==========================================================================
   Author's custom styles
   ========================================================================== */
@import 'flexvideo.css';



/* chromeframe error */
.chromeframe {
	background: #a00;
	color: #faa;
	display: block;
	padding: 3px 0;
	text-align: center;
}
.chromeframe a {
	color: #fff;
	text-decoration: underline;
}



.page-header-top-right {
	margin-top: 10px;
}



.pagination {
	margin: 0;
}



.pagination-center {
	text-align: center;
}
.pagination-row {
	margin-bottom: 20px;
}



.required {
	color: #f00;
}



.row-with-vspace {
	margin-bottom: 20px;
}

/* DAMC - put this min height in to keep footer lower. Might have side-effects?... */
.site-main {
 /* min-height: 600px; */
}

.site-main .format-aside {
	background: #f5f5f5;
}
.site-main .format-image {
	background: url('../img/content-post-format-image.png') left top no-repeat;
}
.site-main .format-link {
	background: url('../img/content-post-format-link.png') left top no-repeat;
}
.site-main .format-quote {
	background: url('../img/content-post-format-quote.png') left top no-repeat;
}
.site-main .format-video {
	background: url('../img/content-post-format-video.png') left top no-repeat;
}


/*
.site-title {
	margin-bottom: 0;
	margin-top: 10px;
}
.site-title > a {
	text-decoration: none;
}
.site-title > div {
	height: auto;
	line-height: 18px;
}
.site-title .site-description {
	color: #999;
	font-size: 16px;
}
.site-title .site-title-heading {
	margin: 0;
}
*/

.widget_calendar #wp-calendar {
	margin: 0;
}
.widget_calendar #wp-calendar #next {
	text-align: right;
}



#comments .comment-navigation {
	margin-bottom: 0;
}
#comments .comment-navigation-below {
	margin-bottom: 20px;
	margin-top: 15px;
}
#comments .media-list li .media {
	margin-top: 15px;
}
#comments .media-list li .media .media-body {
	border: 1px solid #eee;
	padding: 10px;
}
#comments .media-list li .media .media-body .comment-author {
	font-size: 12px;
	margin-bottom: 10px;
}
#comments .media-list ul.children {
	list-style: none;
	margin-left: 2.5em;
}


#main-column img,
#main-column .wp-video-shortcode {
	display: block;
	height: auto;
	max-width: 100%;
}
#main-column .attachment .entry-content {
	margin-bottom: 20px;
}
#main-column .attachment .entry-content .attachment {
	text-align: center;
}
#main-column .attachment .entry-meta {
	margin-bottom: 20px;
}
/* These effect main content pages */
#main-column .post,
#main-column .page {
  margin-top: 30px;
	margin-bottom: 20px;
}
#main-column .post .entry-header .entry-meta {
	color: #999;
}
#main-column .post .entry-header .entry-meta a {
	color: inherit;
}
#main-column .post .entry-header .entry-meta .posted-on .updated {
	display: none;
}
#main-column .post .entry-meta .categories-icon {
	cursor: default;
}
#main-column .post .entry-meta .comments-link a {
	color: #333;
}
#main-column .post .entry-meta .comments-link a .comment-icon .comment-total,
#main-column .page .entry-meta .comments-link a .comment-icon .comment-total {
	color: #555;
	font-size: 12px;
	margin-left: 5px;
}
#main-column .attachment .edit-post-link a, 
#main-column .attachment .entry-meta .edit-post-link a, 
#main-column .post .entry-meta .edit-post-link a,
#main-column .page .entry-meta .edit-post-link a {
	color: #333;
}
#main-column .post .entry-meta .tags-icon {
	cursor: default;
}
#main-column .attachment .entry-title, 
#main-column .post .entry-title,
#main-column .page .entry-title {
	margin-top: 0;
	word-wrap: break-word;
}



#sidebar-left .widget,
#sidebar-right .widget {
	border: 1px solid #eee;
	margin-bottom: 20px;
	overflow: hidden;
	padding: 10px;
}
#sidebar-left .widget ul,
#sidebar-right .widget ul {
	padding-left: 20px;
}
#sidebar-left .widget .widget-title,
#sidebar-right .widget .widget-title {
	font-size: 18px;
	margin-top: 0;
}


#site-footer {
	/* border-top: 1px solid black; */
	font-size: 12px;
	padding: 10px;
}


/* Houndstooth Extra */


body * {
  font-family: Arial, sans-serif;
}

a,
a:hover,
a:focus {
  color: black;
  text-decoration: underline;
}

p a,
p a:hover,
p a:focus {
  color: black;
}
p a:hover {
  color: gray;
  text-decoration: none;
}

h1 a,
h1 a:focus,
h2 a,
h2 a:focus,
h3 a,
h3 a:focus {
  text-decoration:none;
  color: black;
  font-family: 'League Gothic', sans-serif; 
}

h1 a:hover,
h2 a:hover,
h3 a:hover {
  color: black;
  text-decoration: underline;
}

h1 {
  font-family: 'League Gothic', sans-serif; 
  font-size: 32pt;
  padding: 0;
  margin-top:30px;
/*  background-image: url( ../img/ht_logo.png ); 
  background-position: left 40%;
  background-repeat: no-repeat;
*/
  padding-left: 15px;
}

h2 {
  font-family: 'League Gothic', sans-serif;
  padding-left: 7px; 
  margin-top: 30px;
  margin-left: 0;
  border-left: 1px solid black; 
}

/*
h2:before {
  content:'\25A0 \0020';
  font-size: 14pt;
  position: relative;
  bottom: .3em;
  color: black;
}
*/

h3 {
  font-family: 'League Gothic', sans-serif;
}

.centre {
  text-align: center;
}


.separator {
  width: 1100px;
  border-bottom: 1px solid black;
  margin: 0 auto;
  overflow: visible;
}

img.aligncenter {
	display: block;
	margin: 0 auto;
}

.title-container {
  float:left;
}

.nav-container {
  float:right;
}

.htcell {
  height: 250px; 
  width: 300px; 
/*  border: 1px dotted #333; */
}

.htimgcell_large {
  height: 420px;
  width: 630px;
 /* border: 1px solid black; */
}

.htimgcell_large img {
  max-height: 420px;
}

.htimgcell img:hover,
.htimgcell_large img:hover {
  filter: url(filters.svg#grayscale); /* Firefox 3.5+ */
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */ 
}

.htimgcell {
/*  border: 1px solid black; */
  width: 300px;
  height: 200px;
}

.htimgcell img {
  max-height: 198px;
}

.site-content-wrapper {
  padding-top: 60px;
  overflow:hidden;
/*  max-height: 600px; */
}

.site-content {
  margin-top:44px;
}

.solid-navbar {
  background: white;
}

/* Override bootstrap */
.page-header {
  border-bottom: none;
  margin: 0;
  padding: 0;
}

/* Override .. */
.nav > li > a,
.nav > li > a:hover,
.nav > li > a:focus {
  background-color: white;
  font-family: 'League Gothic', sans-serif;  
  font-size: 17pt;
  padding-right: 7px;
  padding-left: 7px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.nav > li > a,
.nav > li > a:focus {
  text-decoration: none;
}

.nav > li > a:hover {
  text-decoration: underline;
}

.nav > li > a {
  border-left: 2px solid black;
}

.nav > li:first-child > a {
  border-left: 0;
}

.htnavbar {
  margin-bottom: 0;
  min-height: 0;
  height: 20px;
  margin-top:44px;
  padding-left:20px;
}

.news_title {
  font-family: 'League Gothic', sans-serif;
  font-size: 18pt;
  
  -o-text-overflow: ellipsis;   /* Opera */
  text-overflow:    ellipsis;   /* IE, Safari (WebKit) */
  overflow:hidden;              /* don't show excess chars */
  white-space:nowrap;           /* force single line */
  width: 300px;                 /* fixed width */
}

.news_title a,
.news_title a:focus {
  font-family: 'League Gothic', sans-serif;
  text-decoration: none;
}

.news_title a:hover {
  font-family: 'League Gothic', sans-serif;
  text-decoration: underline;
}


.search-box input {
  border: 1px solid black;
  padding: 4px;
  width: 300px;
}

/* Override to keep layout the same with wider screen */
@media (min-width: 1200px) {
  .container {
   /* width: 1170px; */
    width: 970px;
  }

}

.tagcloud a {
  opacity: 0.80;
  color: #000;
  display: inline-block;
  margin: 0 5px 5px 0;
  padding: 0 6px;
  line-height: 30px;
/*  border-radius: 5px; */
  text-decoration: none;
}
/*
.tagcloud a:nth-child(9n){background-color: #4A4A4A;}
.tagcloud a:nth-child(9n+1){background-color: #428BCA;}
.tagcloud a:nth-child(9n+2){background-color: #5CB85C;}
.tagcloud a:nth-child(9n+3){background-color: #D9534F;}
.tagcloud a:nth-child(9n+4){background-color: #567E95;}
.tagcloud a:nth-child(9n+5){background-color: #B433FF;}
.tagcloud a:nth-child(9n+6){background-color: #00ABA9;}
.tagcloud a:nth-child(9n+7){background-color: #B37333;}
.tagcloud a:nth-child(9n+8){background-color: #FF6600;}
*/


.breadcrumbs {
  padding-left: 15px;
}

#twitter_icon {
  background-image: url('../img/twitter_icon.png'); 
  background-repeat: no-repeat;  
  display: inline; /* block? */
  width: 24px;
  height: 24px;
  margin: 0; 
  padding: 0 0 0 20px; 
}
#twitter_icon:hover {
  background-position: -24px 0;
}

#cboxTitle a,
#cboxTitle a:focus,
#cboxTitle a:hover {
  font-weight:bold; 
  color:#7C7C7C;
  float: right;
}

#cboxCurrent {
  left: 0 !important;
}

.news_categories {
/*  border: 1px solid #cccccc; */
/*  border-left: 1px solid black; */
  width: 180px;
  padding: 15px;
  position: relative;
  top: -110px;
  float: right;
}
.news_categories ul {
  padding: 0;
}
.news_categories li {
  list-style: none;
  padding: 0;
}
.news_categories_title {
  font-weight: bold;
  margin-bottom: 5px;
}

.tag_list {
  padding-top: 5px;
  padding-bottom: 10px;
}

.tags_title {
  font-weight: bold;
}

.tag_list a,
.tag_list a:focus {
  text-decoration: none;
}

.tag_list a:hover {
  text-decoration: underline;
}

.justify {
  text-align: justify;
}

.right_align {
  text-align: right;
}
